*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins',sans-serif;
}

.small container{
    max-width: 1000px;
    margin: 0%;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product{
    margin-top: 0;
}

.small-img-row{
    display: flex;
    justify-content: space-around;
}

.col-2 img{
    max-width: 120%;
}

.small-img-col{
    cursor: pointer;
}

.single-product .col-2 img{
    padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    text-align: justify;
}

.col-3{
    flex-basis: 75%;
    min-width: 300px;
    text-align: justify;
    text-align: left;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
    outline: none;
}

a{
    text-decoration: none;
    color: #555;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

p{
    color: #555;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.btn1{
    display: inline-block;
    background: #3b5998;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn2{
    display: inline-block;
    background: linear-gradient(45DEG,#66757f,#00ACEE,#36D8FF,#F5F8FA,#ffffff);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn3{
    display: inline-block;
    background: linear-gradient(#405DE6,#833AB4,#C13584,#E1306C,#FD1D1D,#FFDC80);
    color: #FFFFFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn4{
    display: inline-block;
    background: #4FCE5D;
    color: #FFFFFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn5{
    display: inline-block;
    background: #bd081c;
    color: #FFFFFF;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn1:hover{
    background: blue;
}

.btn2:hover{
    background: #035096;
}

.btn3:hover{
    background: purple;
}

.btn4:hover{
    background: green;
}

.btn5:hover{
    background: red;
}

.Product-rating{
    color: black;
  }

.small-img-col:hover{
    opacity: 0.8;
    background-color: transparent;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #b8cffc;
    color: black;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover{
    opacity: 0.9;
}

.Product-rating{
    color: #252525;
}

.price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.old-price span{
    color: #f64749;
    text-decoration: line-through;
    text-decoration-color: #252525;
}

.new-price span{
    color: #4FCE5D;
    font-size: larger;
}


